name: Check Coding Style

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  php:
    name: PHP
    runs-on: ubuntu-20.04
    if: "!startsWith(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.2'
          extensions: 'mbstring, openssl, zip'
          tools: 'composer:v2'
          coverage: none
      - name: Install dependencies
        run: composer install --no-progress --no-suggest --optimize-autoloader --ansi --no-interaction
      - name: Check
        run: composer run-script phpcs -- --dry-run --using-cache=no --diff --diff-format=udiff --show-progress=none --verbose --no-interaction --ansi .
